<html>
    <head>
        <title>generte Url</title>
        
    </head>
    <body>
        <h2>Click on this button to generate Create Room</h2>
        <form id = "generateUrlForm" action ="/Room", method = "POST">
            <button type = "submit" onclick= "initroom()"> Create Room</button>
        </form>
           
            <h3>Share this URL with your friends</h3>
            <div id ="addUrl">

            </div>
            <script>
                
                function initroom()
                {
                    
                }
                function makeid(length) {
                    var result           = '';
                    var characters       = 'abcdefghijklmnopqrstuvwxyz0123456789';
                    var charactersLength = characters.length;
                    for ( var i = 0; i < length; i++ ) {
                    result += characters.charAt(Math.floor(Math.random() * charactersLength));
                    if((i+1)%3==0 && i!=5){
                        result+='-'
                    }
                    }
                    return result;
                }
                function createRoom(){
                    var url = makeid(6);
                    console.log(url);
                    var div = document.getElementById('addUrl')
                    div.innerHTML += `Room Id: ${url}`
                }
                window.onload = createRoom()
                
            </script>
        
    </body>
</html>
