<html>
    <head>
        <Title> Homepage</Title>
    </head>
    <body>
        <h2> Welcome to BeatSync</h2>
        <form method ="POST" action = "/home">
            <button type ="submit" name = "createRoom" formaction = "/createRoom"> Create Room </button>
            <button type ="submit" name = "joinRoom" formaction = "/joinRoom"> Join Room </button>
        </form>
        <script>
            const urlParams = new URLSearchParams(window.location.search)
            const token = urlParams.get('code')
            var now = new Date();
            now.setTime(now.getTime() + 1 * 3600 * 1000);
            document.cookie = `spotify_token = ${token}; expires=${now.toUTCString()}; path = /`
            console.log('spotify_cookie stored')
        </script>
    </body>
</html>