<html>
    <head>
        <Title> Homepage</Title>
    </head>
    <body>
        <h2> Welcome to BeatSync</h2>
        <form method ="GET" action ="/home">
            <button type ="submit" name = "createRoom" formaction = "createRoom"> Create Room </button>
            <button type ="submit" name = "joinRoom" formaction = "joinRoom"> Join Room </button>
        </form>
    </body>
</html>