<html>
    <head>
        <title>Join Room</title>
    </head>
    <body>
        <h2>Join Room - Enter Room URL</h2>
        <form action="/Room" method="POST"> 
            <input type="text" name="joinurl"
                placeholder="Enter your Room Key" required>  
            <button type="submit">Join Room</button> 
        </form> 
    </body>
</html>