<html>
    <head>
        <title>Login Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </head>
    <body>
        <br><br>
        <div class="container text-center">
        <h2>Welcome to BeatSync</h2>
        <br><hr><br>
        <div class="row">
            <div class="col-sm-4">
                <h2>Sign In</h2>
        <hr>
        <form action="/signin" method='POST'>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
            </div>
            <hr>
            <button type="submit" class="btn btn-primary">Sign In</button>
          </form>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <h2>Sign Up</h2>
        <hr>
        <form action="/signup" method='POST'>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" placeholder="Enter Username" name="username" required>
            </div>
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
            </div>
            <div class="form-group">
              <label for="pwd">Password:</label>
              <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password" required>
            </div>
            <hr>
            <button type="submit" class="btn btn-primary">Sign Up</button>
          </form>
            </div>
        </div>
        <!-- <form method = "GET" action = "/login">
            <button id ="signin" class='btn btn-primary' name = "signin" formaction= "/signin">Sign In</button>
            <button id ="signup" class='btn btn-success' name = "signup" formaction= "/signup">Sign Up</button>
        </form> -->
        </div>
    </body>
</html>