<html>
    <head>
        <title>Sign In</title>
    </head>
    <body>
        <h2>Sign In</h2>
        <form action="/signin" method="POST"> 
            <input type="text" name="email"
                placeholder="abc@123.com" required> 
            <input type="password" name="password" 
                placeholder="password" required> 
            <button>Sign In</button> 
        </form> 
    </body>
</html>