<html>
    <head>
        <title>Sign Up</title>
    </head>
    <body>
        <h2> Sign Up</h2>
        <form action="/signup" method="POST"> 
            <input type ="text" name = "username" placeholder ="Username" required>
            <input type="text" name="email"
                placeholder="abc@123.com"  required> 
            <input type="password" name="password" 
                placeholder="password" required> 
            <button type = "submit">Sign Up</button> 
        </form> 
    </body>
</html>